body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.container {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #4cae4c;
}
.chat-container {
    display: flex;
    width: 80%;
    height: 70vh;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-list {
    width: 30%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.chat-list h2 {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 0;
}

.chat-list ul {
    list-style: none;
    padding: 0;
}

.chat-list li {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.chat-list li:hover {
    background-color: #f7f7f7;
}

.chat-window {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#chat-title {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    margin: 0;
}

.messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #4cae4c;
}